
* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.login-page,
.chat-page {
  height: 100%;
  position: absolute;
  width: 100%;
}

.login-page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login-page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login-page .title {
  font-size: 36px;
}

.login-page .usernameInput {
  font-size: 36px;
  letter-spacing: 3px;
}

.login-page .title, .login-page .usernameInput {
  font-weight: 100;
}

.chat-page {
  display: none;
}

/* Font */

.messages {
  font-size: 22px;
}

.inputMessage {
  font-size: 20px;
}

.log {
  color: gray;
  font-size: 20px;
  margin: 5px;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 10px solid black;
  bottom: 0;
  height: 100px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}